* {
    box-sizing: border-box;
    flex-direction:row;
}

:root {
    background-color: rgb(210, 219, 245);
    --btn-color: ;
  }
  
  .header {
    background-color:#2f2f37 ;
    height:70%;  
    width: 100%;
    padding: 41px;
    float: right;
    max-width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }

  body {
    font-size: 14px;
    font-family: sans-serif;
  }
  
  
  .header .logo {
    background-color: rgb(221, 155, 166); 
    font-family: sans-serif;
    color: #2f2f37;
    padding: 20px 20px;
    font-size: 50px;
  }


  .container {
    width: 80vw;
    border: #2f2f37;
    max-width: 1500px;
    margin: 0 auto;
    padding: 2rem;
    float: left;
  }

  .background {
    width: 100%;
    display: block;
    max-height: 300px;
    
   }
   
    .background-text {
       position:absolute;
       bottom: 720px;
       right: 100px;
       background-color:  rgb(221, 155, 166);;
       color: #2f2f37;
       padding-left: 20px;
       padding-right: 20px;
       font-family: sans-serif;
      
     }
  
.border {
    padding: 0px;
}


  h1 {
    font-size: 50px;
  }
  
  

  

.nav-list {
    text-decoration: underline 3px;
    color: rgb(174, 173, 230);
    text-decoration-color: rgb(174, 173, 230);
    display: flex;
    align-items: right;
  }


  .nav-items {
    list-style: none;
    
   
  }
  
  .nav-items > a {
    color: var(--btn-color);
    display: flex;
    padding: 0 1rem;
    font-size: 25px;
    align-items: right;
  }
  
  .nav-items > a:hover {
    color:  rgb(117, 115, 238);
  }
  
  /* ============== MAIN ============== */

.about-me {
    display: flex;
    color: rgb(71, 71, 114);
    justify-self:right;
    padding: 4%;
    position: relative;
    width: 100%;
    left: 40px;
}


  .about-me h1 {
    border-right: 5px solid rgb(71, 71, 114);
    padding-right: 20px;
    margin: 0 10px;
    text-align: right;

  }
  .about-me > p {
    font-size: 25px;
    padding-left: 30px;
    color:rgb(71, 71, 114);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;

  }




  .brands {
    display: flex;
    flex-wrap: wrap;
    color: rgb(71, 71, 114);
    justify-self: right;
    padding: 4%;
    position: relative;
    width: 100%;
    left: 100px;
  }

  .brands h1 {
    border-right: 5px solid rgb(71, 71, 114);
    padding-right: 20px;
    font-size: 55px;
    margin: 0 10px;
    text-align: right;
  }

  .brands img {
    display: block;
    width: 500px;
    height: 180px;
    margin: auto auto;
    border-style: solid;
    border-width: 10px;
    color: rgb(157, 156, 228);
  }
  
  .brands > p {
    text-align: justify;
  }
  
    .image-detail {    
        display: flex;
        align-items: flex-end;
        padding-left:200px;
        padding-bottom: 15px;
        text-align: left;
         
      }
      
      .image-detail header {
        position: absolute;
        background-color: rgb(157, 156, 233); 
        font-family: sans-serif;
        color:#2f2f37;
        padding: 20px 20px;
        font-size: 30px
      }
      
      .image-detail:hover {
        opacity: .3;
        
        } 

      .contact {
        display: flex;
        color: rgb(71, 71, 114);
        justify-self:right;
        position: relative;
      }

      .contact h1 {
        text-align: left;
        border-right: 5px solid rgb(71, 71, 114);
        padding-right: 20px;
        font-size: 55px;
        margin: 0 10px;
        
        
      }

        .link-items {
       list-style: none;
       display:inline-flex
       
       
    
   
      }
  
      .link-items > a {
        color: black;
       display: flex;
       padding: 0 1rem;
       font-size: 25px;
       
     }
  
     .link-items > a:hover {
    color: cyan;
     }
 
     /* =============== FOOTER ================ */
     footer {
    background-color: #2f2f37;
    }
     footer > section {
    display: flex;
    justify-content: space-between;
    align-items: center;
     }
  .footer-logos > img {
    margin: 0 0.5rem;
  }
  

 
  