* {
    box-sizing: border-box;
    flex-direction:row;
}

:root {
    --font-1: sans-serif ;
    --background-color: white;
    --font-color-1: black;
    --font-color-2: darkgrey;
    --secondary-color: #2f2f37;
    --btn-color: lightblue;
  }
  
  .header {
    background-color: var(--secondary-color) ;
    height:70%;  
    width: 100%;
    padding: 41px;
    float: right;
    max-width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }

  body {
    font-size: 14px;
    font-family: var(--font-1);
  }
  
  
  .header .logo {
    background-color: lightblue; 
    font-family: var(--font-1);
    color: var(--secondary-color);
    padding: 20px 20px;
    font-size: 50px;
  }

  .container {
    width: 80vw;
    border: #2f2f37;
    max-width: 1500px;
    margin: 0 auto;
    padding: 2rem;
    float: left;
  }

  .background {
    width: 100%;
    display: block;
    max-height: 300px;
    
   }
   
    .background-text {
       position:absolute;
       bottom: 720px;
       right: 100px;
       background-color: lightblue;
       color: var(--secondary-color);
       padding-left: 20px;
       padding-right: 20px;
       font-family: var(--font-1);
      
     }
  
.border {
    padding: 0px;
}


  h1 {
    font-size: 50px;
  }
  
  

  

.nav-list {
    text-decoration: underline;
    text-decoration-color: var(--btn-color);
    display: flex;
    align-items: right;
  }


  .nav-items {
    list-style: none;
    
   
  }
  
  .nav-items > a {
    color: var(--btn-color);
    display: flex;
    padding: 0 1rem;
    font-size: 25px;
    align-items: right;
  }
  
  .nav-items > a:hover {
    color: cyan;
  }
  
  /* ============== MAIN ============== */

.about-me {
    display: flex;
    color: rgb(71, 71, 114);
    justify-self:right;
    padding: 4%;
    position: relative;
    width: 100%;
    left: 40px;
}


  .about-me h1 {
    border-right: 5px solid rgb(71, 71, 114);
    padding-right: 20px;
    margin: 0 10px;
    height: 125px;
    text-align: right;

  }
  .about-me > p {
    font-size: 25px;
    padding-left: 30px;
    color:rgb(71, 71, 114);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;

  }
  .brands {
    display: flex;
    color: rgb(71, 71, 114);
    justify-self: right;
    padding: 4%;
    position: relative;
    width: 100%; 
    left: 40px;
  }

  .brands h1 {
    border-right: 5px solid rgb(71, 71, 114);
    padding-right: 20px;
    font-size: 55px;
    margin: 0 10px;
    height: 125px;
    text-align: right;
  }

  .brands img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
  }
  
  .brands > p {
    text-align: justify;
  }
  
  .image-detail:hover {
    opacity: 0.3;
    }
    .image-detail {
      
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        border: 5px solid lightblue;
        
      }
      .image-detail header {
        background-color: lightblue; 
        font-family: var(--font-1);
        color: var(--secondary-color);
        padding: 20px 20px;
        font-size: 30px
      }
      
      

      .contact {
        display: flex;
        color: rgb(71, 71, 114);
        justify-self:right;
        position: relative;
      }

      .contact h1 {
        border-right: 5px solid rgb(71, 71, 114);
        padding-right: 20px;
        font-size: 55px;
        margin: 0 10px;
        height: 125px;
        text-align: right;
      }

        .link-items {
       list-style: none;
    
   
      }
  
      .link-items > a {
        color: black;
       display: flex;
       padding: 0 1rem;
       font-size: 25px;
       
     }
  
     .link-items > a:hover {
    color: cyan;
     }
 
     /* =============== FOOTER ================ */
     footer {
    background-color: var(--secondary-color);
    }
     footer > section {
    display: flex;
    justify-content: space-between;
    align-items: center;
     }
  .footer-logos > img {
    margin: 0 0.5rem;
  }
  

 
  